input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.goodsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .inputBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px 0;

    .titleInput {
      margin: 0 auto;
      padding-bottom: 10px;
      font-weight: 700;
    }

    .buttonClear {
      height: 28px;
      padding: 0 15px;
      outline: none;
    }

    .inputFind {
      display: flex;
    }

    .input {
      height: 30px;
      width: 240px;
      padding-left: 10px;
      font-size: 16px;
      border-radius: 6px;
      border: 1px solid gray;
      outline: none;

      &::placeholder {
        padding-left: 10px;
      }
    }
  }
}

.goods {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;

  .goodsPreloader {
    margin: 0 auto;
    position: absolute;
    display: flex;
    top: 180px;
    z-index: 10;
  }
}

.emptyGood {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  padding-top: 50px;
}

