.goods {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;

  .goodsPreloader {
    margin: 0 auto;
    position: absolute;
    display: flex;
    top: 180px;
    z-index: 10;
  }
}

