.infoGood {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;

  .goodImg {
    display: block;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    margin: 0 10px auto;
    max-width: 300px;
    min-height: auto;
  }

  .information {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    .title {    font-size: 18px;
      margin: 0;
      padding: 10px 5px;
      text-align: center;
      font-weight: 600;
      word-break: break-word;}

    .priceBlock {
      display: flex;
      justify-content: center;

      .price {
        margin: 0;
        padding: 15px 5px 15px 0;
        font-weight: 700;
      }

      .value {
        margin: 0;
        padding: 15px 0;
        font-weight: 700;
      }
    }


  }




  .buttonsCount {
    display: flex;
    justify-content: center;
    align-items: center;

    .count {
      border: 1px solid rgba(0, 0, 0, 0.29);
      border-radius: 5px;
      margin: 0 5px;
      max-width: 18px;
      padding: 7px;
      text-align: center;
      font-weight: 700;
    }

    .buttonCount {
      padding: 5px 0;
      width: 50px;
      height: 50%;
    }
  }

  .resetCount {
    font-size: 12px;
    padding: 2px 8px;
    margin: 5px auto 0;
    max-width: 160px;

  }

  .buttonAddGood {
    margin: 5px auto 0;
    max-width: 160px;
    min-height: 40px;
  }


}
