.shopCart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;

  .totalCostTitle {
    font-size: 18px;
    font-weight: 600;
  }

  .totalCost {
    font-size: 18px;
    font-weight: 800;
  }

  .shopCartBlock {
    max-width: 970px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    @media (max-width: 970px) {
      justify-content: center;
    }
  }


}