.goodShopCart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 320px;
  padding: 15px;

  .buttonDelete {
    align-self: end;
    background-color: transparent;

    .imgDelete {
      width: 30px;
      height: 30px;
    }
  }

  .img {
    display: block;
    background-color: white;
    border-radius: 15px;
    padding: 5px;
    margin: 0 auto;
    width: 70%;
    height: auto;
  }

  .title {
    padding-bottom: 10px;
    font-size: 24px;
    font-weight: 500;
    margin: 0;
  }

  .price {
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 800;
    margin: 0;
  }

  .countBlock {
    display: flex;
    justify-content: center;
    align-items: center;


    .count {
      margin: 0;
      padding: 10px;
      font-size: 18px;
    }

    .buttonInc,
    .buttonDec {

      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      width: 30px;
      height: 30px;
    }
  }
}