.goodInShopCart {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  min-height: 400px;
  padding: 5px;
  border-radius: 15px;
  margin: 5px 5px;
  border: 0.5px solid rgba(36, 36, 36, 0.21);

  @media (max-width: 750px) {
    justify-content: center;
  }

  @media (max-width: 340px) {
    min-width: 200px;
  }

  &:hover {
    box-shadow: #242424 0 0 10px;
  }

  .buttonDelete {
    align-self: end;
    background-color: transparent;
    padding: 5px;
    box-shadow: none;
    outline: none;

    .imgDelete {
      width: 30px;
      height: 30px;
      border-radius: 50%;

      &:hover {
        box-shadow: #1a1a1a 0 0 4px;
      }
    }
  }
.goodBlock {
  max-width: 200px;
  .img {
    display: block;
    background-color: white;
    border-radius: 15px;
    padding: 5px;
    margin: 0 auto;
    max-width: 150px;
    min-height: 150px;
  }

  .title {
    padding: 3px 0 10px;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin: 0 auto;
    word-break: break-word;
  }

}

  .price {
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 800;
    margin: 0;
  }

  .countBlock {
    display: flex;
    justify-content: center;
    align-items: center;


    .count {
      margin: 0;
      padding: 10px;
      font-size: 18px;
    }

    .buttonInc,
    .buttonDec {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      width: 30px;
      height: 30px;
    }
  }
}